
.crystal-image {
  width: 300px;
  height: 300px;
}

h1 {
    font-family: 'Sunflower', sans-serif;
    background-color: #ca6f35;
    color: #ffffff;
    text-align: left;
    padding: 20px 5px 20px 5px;
    width: 300px;
    font-size:30px;
}

.instructions {
    font-family: 'Sunflower', sans-serif;
    color: black;
    background-color: #c0d8b3;
}